@font-face {
  font-family: "iconfont"; /* Project id 3793070 */
  src: url('iconfont.woff2?t=1669380860368') format('woff2'),
       url('iconfont.woff?t=1669380860368') format('woff'),
       url('iconfont.ttf?t=1669380860368') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-bangzhu:before {
  content: "\e687";
}

.icon-fanhui2:before {
  content: "\e615";
}

